<!-- Navbar content -->
<div>
    <nav class="navbar navbar-expand-md" style="background-color: #FBE90F;">
        <div class="left-container container-fluid col-6">
            <a href="/">
                <img src="/images/indubitably.png" alt="logo" class="logo">
            </a>

        </div>
        <div class=" right-container container-fluid col-6">
            <% if (typeof user !=='undefined' && typeof user !=='null' ) { %>
                <a class="navbar-link profile tooltip-wrap" href="/users/logout">
                    <img src="/images/LOGOUT2.png" alt="logout" class="logout img-fluid ">
                    <%= user.firstName %>
                        <div class="tooltip-content">
                            <p>Logout</p>
                        </div>
                </a>
                <a class="navbar-link tooltip-wrap" href="/users/favorites">
                    Favorites
                    <div class="tooltip-content">
                        <p>Visit</p>
                    </div>
                </a>
                <% } else { %>
                    <a class="navbar-link profile" href="/users/register">Sign In</a>
                    <% } %>
        </div>
    </nav> <!-- navbar end -->
</div>
<div class="container-fluid header col-12">
    <h5 class="header-text col-12">
        Unemployed? Want A Job? Need Help To Find One?
    </h5>
    <h5 class="header-text col-12">
        INDUBITABLY!
    </h5>
</div>

<div class="container-fluid col-12">
    <form action="/jobs/search" method="GET" id="searchform" class="form-inline col-11">
        <div class="what input-group mb-4">
            <span class="what input-group-text" id="what">What</span>
            <input name="search" type="text" class=" w-60 form-control what-form" placeholder="Job title, keywords, or company"
                aria-label="what" aria-describedby="basic-addon1" value="<%= search %>">
        </div>
        <div class="where input-group mb-4">
            <select name="location" class="form-select">
                <% locations.forEach((location)=> { %>
                    <option class="dropdown-item" value="<%= location.id %>" <% if (location.id == locationId) {%>selected<%} %> >
                        <%= location.city %>, <%= location.state %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary col-2 ">Find Jobs</button>
        </div>
    </form>
</div>